<!DOCTYPE HTML>

<html>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <head>
    <title>Bookmark Page</title>
  </head>

   <body>
    <h1>Bookmark Manager</h1>
    <br>
    <ul>
      <% @bookmarks.each do |bookmark| %>
        <li class="bookmark" id="bookmark-<%= bookmark.id %>">
          <a href='<%= bookmark.url %>' target="_blank" >
            <%= bookmark.title %>
          </a>
          <form action="/bookmarks/<%= bookmark.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Delete" />
            </form>
            <form action="/bookmarks/<%= bookmark.id %>/edit" method="get">
              <input type="submit" value="Edit" />
            </form>
          </li>
      <% end %>
    </ul>
    <form action="/bookmarks/new" method="get">
      <input type="submit" name="go_to_creation" value="Create a new bookmark">
    </form>
  </body>
</html>
